streamlit
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-community
langchain-openai
langchain-mcp-adapters
python-dotenv
aiosqlite
duckduckgo-search==6.3.7
requests
pydantic
